<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" href="img/favico.ico">

  <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
  <title>PayMeForMyAI | Build and Monetize GPT bots without code</title>

  <link rel="canonical" href="home">
  <meta name="description" content="PayMeForMyAI enables creators to monetize their GPTs.">
  <meta name="og:description" content="PayMeForMyAI enables creators to monetize their GPTs.">
  <meta name="keywords" content="Monetize your custom GPT on your terms, Monetize your GPT">

  <meta name="robots" content="index, follow">

  <meta property="og:title" content="PayMeForMyAI">
  <meta property="og:type" content="website">
  <meta property="image" content="https://paymeformyai.com/img/pic2.png">
  <meta property="og:image" content="https://paymeformyai.com/img/pic2.png">

  <meta property="og:image:url" content="https://paymeformyai.com/img/pic2.png">

  <meta property="og:image:alt" content="PayMeForMyAI  Homepage Screenshot">

  <link rel="stylesheet" href="css/404.css" />
</head>

<body>
  <div class="max-w-screen-xl mx-auto px-5">

    <header class="flex flex-col lg:flex-row justify-between items-center my-5">

      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg"><span class="font-bold text-slate-800">PayMeForMyAI</span><span
            class="text-slate-500"></span>
        </a>
        <div class="block lg:hidden">
          <button id="astronav-menu" aria-label="Toggle Menu">

            <svg fill="currentColor" class="w-4 h-4 text-gray-800" width="24" height="24" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <title>Toggle Menu</title>
              <path class="astronav-close-icon astronav-toggle hidden" fill-rule="evenodd" clip-rule="evenodd"
                d="M18.278 16.864a1 1 0 01-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 01-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 011.414-1.414l4.829 4.828 4.828-4.828a1 1 0 111.414 1.414l-4.828 4.829 4.828 4.828z">
              </path>
              <path class="astronav-open-icon astronav-toggle" fill-rule="evenodd"
                d="M4 5h16a1 1 0 010 2H4a1 1 0 110-2zm0 6h16a1 1 0 010 2H4a1 1 0 010-2zm0 6h16a1 1 0 010 2H4a1 1 0 010-2z">
              </path>
            </svg>

          </button>
        </div>
      </div>
      <nav class="astronav-items astronav-toggle hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">

        <!-- <ul class="flex flex-col lg:flex-row lg:gap-3">
          <li class="relative">
            <menu class="astronav-dropdown group" aria-expanded="false">
              <button class="flex items-center gap-1 w-full lg:w-auto lg:px-3 py-2 text-gray-600 hover:text-gray-900">
                <span>Features</span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3"
                  stroke="currentColor" class="w-3 h-3 mt-0.5 group-open:rotate-180">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                </svg>
              </button>
              <div class="astronav-dropdown dropdown-toggle hidden" aria-expanded="false">

                <div class="lg:absolute w-full lg:w-48 z-10 lg:left-0 origin-top-left">
                  <div class="px-3 lg:py-2 lg:bg-white lg:rounded-md lg:shadow lg:border flex flex-col">
                    <a href="index.html" class="py-1 text-gray-600 hover:text-gray-900">
                      Action
                    </a><a href="#" class="py-1 text-gray-600 hover:text-gray-900">
                      Another action
                    </a><a href="#" class="py-1 text-gray-600 hover:text-gray-900">
                      Dropdown Submenu
                    </a><a href="404.html" class="py-1 text-gray-600 hover:text-gray-900">
                      404 Page
                    </a>
                  </div>
                </div>

              </div>
            </menu>
          </li>
          <li>
            <a href="pricing.html" class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900">
              <span> Pricing</span>

            </a>
          </li>
          <li>
            <a href="about.html" class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900">
              <span> About</span>

            </a>
          </li>
          <li>
            <a href="blog.html" class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900">
              <span> Blog</span>

            </a>
          </li>
          <li>
            <a href="contact.html" class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900">
              <span> Contact</span>

            </a>
          </li>
          <li>
            <a href="https://astroship-pro.web3templates.com/"
              class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900">
              <span> Pro Version</span>
              <span
                class="ml-1 px-2 py-0.5 text-[10px] animate-pulse font-semibold uppercase text-white bg-indigo-600 rounded-full">
                New
              </span>
            </a>
          </li>
        </ul> -->
        <div class="lg:hidden flex items-center mt-3 gap-4">
          <a href="/login"
            class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-gray-100 hover:bg-gray-200 border-2 border-transparent">Log
            in
          </a>
          <a href="/signup"
            class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black text-white hover:bg-gray-800 border-2 border-transparent">Sign
            up
          </a>
        </div>

      </nav>


      <script>(function () {
          const closeOnClick = false;

          document.addEventListener("DOMContentLoaded", () => {
            // Mobile nav toggle
            const menuButton = document.getElementById("astronav-menu");
            menuButton && menuButton.addEventListener("click", toggleMobileNav);

            // Dropdown menus
            const dropdownMenus = document.querySelectorAll(".astronav-dropdown");
            dropdownMenus.forEach((menu) => {
              const button = menu.querySelector("button");
              button &&
                button.addEventListener("click", (event) =>
                  toggleDropdownMenu(event, menu, dropdownMenus)
                );

              // Handle Submenu Dropdowns
              const dropDownSubmenus = menu.querySelectorAll(
                ".astronav-dropdown-submenu"
              );

              dropDownSubmenus.forEach((submenu) => {
                const submenuButton = submenu.querySelector("button");
                submenuButton &&
                  submenuButton.addEventListener("click", (event) => {
                    event.stopImmediatePropagation();
                    console.log("click");
                    toggleSubmenuDropdown(event, submenu);
                  });
              });
            });

            // Clicking away from dropdown will remove the dropdown class
            document.addEventListener("click", closeAllDropdowns);

            if (closeOnClick) {
              handleCloseOnClick();
            }
          });

          function toggleMobileNav() {
            [...document.querySelectorAll(".astronav-toggle")].forEach((el) => {
              el.classList.toggle("hidden");
            });
          }

          function toggleDropdownMenu(event, menu, dropdownMenus) {
            toggleMenu(menu);

            // Close one dropdown when selecting another
            Array.from(dropdownMenus)
              .filter((el) => el !== menu && !menu.contains(el))
              .forEach(closeMenu);

            event.stopPropagation();
          }

          function toggleSubmenuDropdown(event, submenu) {
            event.stopPropagation();
            toggleMenu(submenu);

            // Close sibling submenus at the same nesting level
            const siblingSubmenus = submenu
              .closest(".astronav-dropdown")
              .querySelectorAll(".astronav-dropdown-submenu");
            Array.from(siblingSubmenus)
              .filter((el) => el !== submenu && !submenu.contains(el))
              .forEach(closeMenu);
          }

          function closeAllDropdowns(event) {
            const dropdownMenus = document.querySelectorAll(".dropdown-toggle");
            const dropdownParent = document.querySelectorAll(
              ".astronav-dropdown, .astronav-dropdown-submenu"
            );
            const isButtonInsideDropdown = [
              ...document.querySelectorAll(
                ".astronav-dropdown button, .astronav-dropdown-submenu button, #astronav-menu"
              ),
            ].some((button) => button.contains(event.target));
            if (!isButtonInsideDropdown) {
              dropdownMenus.forEach((d) => {
                // if (!d.contains(event.target)) {
                d.classList.remove("open");
                d.removeAttribute("open");
                d.classList.add("hidden");
                // }
              });
              dropdownParent.forEach((d) => {
                d.classList.remove("open");
                d.removeAttribute("open");
                d.setAttribute("aria-expanded", "false");
              });
            }
          }

          function toggleMenu(menu) {
            menu.classList.toggle("open");
            const expanded = menu.getAttribute("aria-expanded") === "true";
            menu.setAttribute("aria-expanded", expanded ? "false" : "true");
            menu.hasAttribute("open")
              ? menu.removeAttribute("open")
              : menu.setAttribute("open", "");

            const dropdownToggle = menu.querySelector(".dropdown-toggle");
            const dropdownExpanded = dropdownToggle.getAttribute("aria-expanded");
            dropdownToggle.classList.toggle("hidden");
            dropdownToggle.setAttribute(
              "aria-expanded",
              dropdownExpanded === "true" ? "false" : "true"
            );
          }

          function closeMenu(menu) {
            console.log("closing", menu);
            menu.classList.remove("open");
            menu.removeAttribute("open");
            menu.setAttribute("aria-expanded", "false");
            const dropdownToggles = menu.querySelectorAll(".dropdown-toggle");
            dropdownToggles.forEach((toggle) => {
              toggle.classList.add("hidden");
              toggle.setAttribute("aria-expanded", "false");
            });
          }

          function handleCloseOnClick() {
            const navMenuItems = document.querySelector(".astronav-items");
            const navToggle = document.getElementById("astronav-menu");
            const navLink = navMenuItems && navMenuItems.querySelectorAll("a");

            const MenuIcons = navToggle.querySelectorAll(".astronav-toggle");

            navLink &&
              navLink.forEach((item) => {
                item.addEventListener("click", () => {
                  navMenuItems?.classList.add("hidden");
                  MenuIcons.forEach((el) => {
                    el.classList.toggle("hidden");
                  });
                });
              });
          }
        })();

      </script>

       <div>
        <div class="hidden lg:flex items-center gap-4">
          <a href="/login">Log in</a>
          <a href="/signup"
            class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-4 py-2 bg-black text-white hover:bg-gray-800 border-2 border-transparent">Sign
            up
          </a>
        </div>
      </div>
    </header>

  </div>

  <div class="max-w-screen-xl mx-auto px-5">

    <main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
      <div class="py-6 md:order-1 hidden md:block">

        <div style="max-width: 82%; margin: 0 auto;">
<img alt="creators of PayMeForMyAI" src="img/pic2.png" loading="eager" decoding="async">
</div>

      </div>
      <div>
        <h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
          Monetize your custom GPT 🚀
        </h1>
        <p class="text-lg mt-4 text-slate-600 max-w-xl">
          PayMeForMyAI enables creators to build and monetize GPT bots without code. Start by building your own custom GPT. Share it with others and charge your users on your terms.<br><br>Creators get <b>100%</b> revenue back (we take <b>0%</b> commission).
        </p>
        <div class="mt-6 flex flex-col sm:flex-row gap-3">
          <a href="/login"
   rel="noopener"
   class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-black text-white hover:bg-gray-800 border-2 border-transparent flex gap-1 items-center justify-center">
   <svg viewBox="0 0 24 24" class="text-white w-5 h-5" astro-icon="bx:join-waitlist">
      <path fill="currentColor" d="M6,2H18c1.1,0,2,0.9,2,2v16c0,1.1-0.9,2-2,2H6c-1.1,0-2-0.9-2-2V4C4,2.9,4.9,2,6,2z M18,20V4H6v16H18z M8,5h8v2H8V5z M8,9h8v2H8V9z"/>
   </svg>
   Start using app
</a>
<a href="https://discord.gg/FnktGy3mkV" rel="noopener" target="_blank"
   class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-white border-2 border-black hover:bg-gray-100 text-black flex gap-1 items-center justify-center">
   <span class="text-clipboard-icon"><img src="img/discord12.png" style="height: 24px;"></span>
   Join Discord
</a>
        </div>
      </div>
    </main>
   <div class="mt-16 md:mt-0">
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
        Top Trending GPT Bots ⚡️
      </h2>
      <p class="text-lg mt-4 text-slate-600">
        Explore our growing directory of custom GPT bots. First <b>3</b> chats are on us :)
      </p>
    </div>
    <style>
    .image-container img {
  width: 80%;
  height: 18rem;
  display: block;
  border-radius: 0.5rem;
  object-fit: cover;
}
.item-container {
  /* Adjust padding or margins as needed */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
}
.item-container:hover {
  transform: scale(1.05); /* Slightly increase size */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}
.content-container {
  height: 100%; /* Set a fixed height for each content container */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the content */
}

@media screen and (max-width: 500px) {
  .image-container img {
    height: 100%;
  }
}
    </style>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
      <% for(var i = 0; i < bots.length; i++) { %>
        <a href="/<%=bots[i].bot_name%>" target="_blank" style="text-decoration: none; color: inherit;">
        <div class="flex gap-5 items-start">
          <div class="item-container">
            <div class="image-container">
              <img src="<%=bots[i].bot_profile_pic%>" alt="Description" class="rounded-full w-8 h-8" />
            </div>
            <div class="content-container mt-2">
              <div class="mt-2 p-2">
                <h3 class="font-semibold text-lg"><%=bots[i].bot_name%></h3>
                <p class="text-slate-500 mt-2 leading-relaxed">
                  <%=bots[i].bot_description%>
                </p>
                <p class="text-slate-500 leading-relaxed ">
                <b>$<%=bots[i].bot_price%></b> / <b><%=bots[i].bot_price_value%></b> chats.
                </p>
              </div>
            </div>
          </div>
        </div>
        </a>
      <% } %>
    </div>

</div>

<div class="flex items-center justify-center mt-10 flex-wrap">
  <a href="/store"
    class="rounded text-center transition  bg-black focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 text-white border-2 border-transparent">
    View More
  </a>
</div><br><br>


</body>

</html>
